.items-list .div-list-item {
  height: 24px;
}

.items-list .div-list-item a {;
  margin-top: 4px;
  display: block;
  padding-top: 4px;
}

.items-list .div-list-item .ii {
  float: left;
  margin-right: 4px;
}
