.div-list .div-list-col {
    float: left;
    width: 25%;
}

.div-list .div-list-letter {
    font-weight: bold;
    margin: 15px 5px 5px 25px;
}

.div-list .div-list-letter span {
    font-weight: normal;
}

.div-list .div-list-item {
    margin: 4px 0;
}

