<div class="idea">
  Идея сайта &mdash; &laquo;<a href="http://www.digital-dimension.ru/" target=_blank>Диджител Дименшн</a>&raquo;.
</div>
<div class="counter">
  <noindex>
    <!--LiveInternet counter--><script type="text/javascript"><!--
  document.write("<a href='http://www.liveinternet.ru/click' "+
  "target=_blank><img src='http://counter.yadro.ru/hit?t14.10;r"+
  escape(document.referrer)+((typeof(screen)=="undefined")?"":
  ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
          screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
  ";h"+escape(document.title.substring(0,80))+";"+Math.random()+
  "' alt='' title='LiveInternet: показано число просмотров за 24"+
  " часа, посетителей за 24 часа и за сегодня' "+
  "border='0' width='88' height='31'><\/a>")
  //--></script><!--/LiveInternet-->
  </noindex>
</div>
