<div class="index-logo">
    <a href="/mobs/1002.html">
      <img src="/poringru_300.png" width="300" height="300" alt="Poring ^__^" border="0">
    </a>
    <div class="index-title">
      База предметов, монстров, локаций и НПЦ игры Рагнарок.
      <h1 class="update">Обновление базы 11.04.2015 & Renewal!</h1>
    </div>
</div>
